---
title: Basspistol Artists
subtitle: Roster
description: 'The Basspistol roster, united powerful syndicated Artists. Ordinary people with extraordinary visions'
tags: 
  - basspistol
  - artists
  - rosters
  - franky
  - fresco
  - jokko
  - sakrecoer
  - max Park
  - fraglebay
  - sweatsky
  - tikov
video_path: /assets/vid/artists.mp4
image: /assets/vid/artists.jpg
---

{% include relBase.html %}
{% include header.html %}


{% assign sorted = site.data.artists | sort: 'id' %}      
{% for post in sorted %}

<section class="front-section" id="read">

  <div style="background-image:url({{ post.image }})">
    <p class="editor-link"><a href="cloudcannon:collections/_artists/{{ post.path }}" rel="nofollow"
        class="btn"><strong>&#9998;</strong> Edit Post</a></p>
  </div>
  <div class="description">
    <div class="container">
      <div class="">
        <h3></h3>
        {{ post.description  }}
      </div>
     
      <div>
        <p><a class="button" href="{{ post.link }}?ref=TheMusicSyndicateWasHere" traget="_blank" rel="noopener" >🌍 {{ post.display_name }}</a></p>
      </div>
  
    </div>
  </div>

</section>

{% endfor %}
