---
layout: nil
title: You are being taken there in 5 seconds!
description: Thanks for supporting Franky Fresco!
image: /images/frankyfresco-video.jpg
sitemap: false
---
<!DOCTYPE HTML>

{% include relBase.html %}
<html lang="en">
<head>
<meta http-equiv="refresh" content="5;url={{ site.url }}/albums/dust-and-soda/" />
{% include seo.html %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
<link rel="stylesheet" href="{{ site.url }}/assets/css/main20200710.css" />
<noscript><link rel="stylesheet" href="{{ site.url }}/assets/css/noscript20200710.css" /></noscript>
</head>

<body id="body">
  <span id="top" style="display: none;"></span>
  <!-- Wrapper -->
  <div id="wrapper" class="divided">
    




<!-- Banner -->
<section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center" style="min-height:100vh;background-color: rgba(13,13,13,0.85);">

  <div class="content editable">
    <h1 class="editable">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <p>if your browser isn't redirecting you automatically</p>
    <ul class="actions stacked">
      <li><a href="{{ site.url }}/albums/dust-and-soda/" class="button small wide">Click Here</a></li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ site.url }}{{ page.image }}" alt="unfound page" />
  </div>
</section>

<!-- Footer -->
<footer id="footer" class="wrapper style1 align-center">
  <div class="footflex">
    <div>
      <h4>{{ site.title }}</h4>
      <p>{{ site.description }}

    </div>
    <div>
      <ul>

        <li><a href="{{ site.url }}/">{{ site.data.translations[page.lang].home }}</a></li>

        {% for entry in site.data.navigation %}
        <li><a href="{{ site.url }}{{ entry.url }}">{{ entry.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div><img src="{{ site.url }}/assets/panix-logo-dark.svg" style="max-width:300px" /></div>
  </div>
  <div class="inner">

    <p>&copy;2020 Basspistol | <a href="{{ site.url }}/webcreds/">Credits</a> | <a href="{{ site.url }}/cookies/">Cookies & Privacy</a></p>
  </div>
</footer>
</div>

{% include navigation.html %}

<!-- Scripts -->

<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}/assets/js/browser.min.js"></script>
<script src="{{ site.url }}/assets/js/breakpoints.min.js"></script>
<script src="{{ site.url }}/assets/js/util.js"></script>
<script src="{{ site.url }}/assets/js/main.js"></script>
<script src="{{ site.url }}/assets/js/set.js"></script>

{% include cookie-consent.html %}

</body>
</html>