---
title: Highlights
subtitle: Hi-Lights
description: 'Links to secret music, infamous articles, forbiden videos, off the record interviews and much more...'
tags: 
  - music
  - news
  - blog
  - interviews
  - links
  - promotion
video_path: /assets/vid/highlights.mp4
image: /assets/vid/highlights.jpg
permalink: /highlights/
layout: default
---
{% include relBase.html %}
{% include header.html %}



{% for post in site.posts %}
{% if post.category == 'highlights' %}
<section class="front-section">

  <div style="background-image:url({{ post.image }})">
    <p class="editor-link"><a href="cloudcannon:collections/_posts/{{ post.path }}" rel="nofollow"
        class="btn"><strong>&#9998;</strong> Edit Posy</a></p>
  </div>
  <div class="description">
    <div class="container">
      <div class="">
        <h3>{{ post.title }}</h3>
        {{ post.description  }}
      </div>
     
      <div>
        <p><a class="button" href="{{ relBase }}{{ post.url }}">Read Highlight</a></p>
      </div>
  
    </div>
  </div>

</section>
{% endif %}
{% endfor %}


{% include footer.html %}