---
title: Music Syndicate
subtitle: Basspistol
description: >-
  Homepage of Basspistol, The Outernational Music Syndicate established in 2010.
  The underground is dead, Long Live the Underground!
tags: 
  - basspistol
  - uuternational
  - music
  - syndicate
  - homepage
  - collective
  - free
  - culture
video_path: /assets/vid/intro_loop_.mp4
image: /assets/vid/intro_loop_.jpg
logo_image: /siteicon.png
layout: default
---
{% include relBase.html %}

<header class="hero" id="top"
  style="{% unless page.video_path %}background-image: url({{ page.image }});{% endunless %}">
  <div class="imagecontainer">
    <h4>{{ page.title }}</h4>
  </div>


</header>
<section class="splash">
<div class="container">
  <div class="splash-logo">
    <img src="{{ site.logo }}" width="240px" alt="{{ site.title }} Logo" />
  </div>
  <div>

    <h1>{{ site.title }}</h1>
    <p>{{ page.description }}</p>
    <p><a href="/radio/" class="button">📻 Radio App</a></p>
  </div>
</div>
</section>

<section class="section-title">
  <div class="container">
    <h2>Latest News</h2>
  </div>
</section>
{% for post in site.posts limit: 3 %}
{% if post.category == 'highlights' %}
<section class="front-section">

  <div style="background-image:url({{ post.image }})">
    <p class="editor-link"><a href="cloudcannon:collections/_posts/{{ post.path }}" rel="nofollow"
        class="btn"><strong>&#9998;</strong> Edit Posy</a></p>
  </div>
  <div class="description">
    <div class="container">
      <div class="">
        <h3>{{ post.title }}</h3>
        {{ post.description  }}
      </div>
     
      <div>
        <p><a class="button" href="{{ relBase }}{{ post.url }}">📰 Read Highlight</a></p>
      </div>
  
    </div>
  </div>

</section>
{% endif %}
{% endfor %}

<section class="releases">
  <h2>Releases</h2>
  <div class="container">
  {% assign sorted = site.albums | sort: 'date' | reverse %}
  {% for album in sorted %}
  {% for post in site.posts %}
  {% if album.slug == post.album %}

  <article>
    <figure>
      <a href="{{ post.url }}">
        <img src="{{ site.mediaurl }}/{{ album.tracks[0].slug }}.jpeg" alt="Cover art for {{ post.title }}" /></a>
      <figcaption>
        <strong>{{ album.name }}</strong><br />

        {% assign total = 0 %}
        {% for track in album.tracks %}
          {% assign total = total | plus: track.format.duration %}
        {% endfor %}
    

        {% assign round_seconds = total | round %}{% assign minutes = round_seconds | divided_by: 60 %}{% assign leftover_seconds = minutes | times: 60 %}{{ minutes }}:{% assign seconds_without_zero = round_seconds | minus: leftover_seconds %}{% if seconds_without_zero < 10 %}0{% endif %}{{ seconds_without_zero }}

<br />


        {{ album.date | date: '%Y' }}
      </figcaption>
    </figure>
  </article>

  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
</section>


