---
title: Basspistol Glance Floor
subtitle: Radio CrashParty
description: >-
  Welcome to the virtual Nightclub 🦄! To get the music in highquality, press the play button under the circular atomic bomb.
tags:
  - radio
  - basspistol
  - live
  - music
  - broadcast
  - stream
video_path: /assets/vid/radio.mp4
image: /assets/vid/radio.jpg
layout: default
---
{% include relBase.html %}
<script src="{{ relBase }}/assets/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
  function getData() {
    $.getJSON('https://radio.basspistol.com/status-json.xsl', function (json) {
      output = "<h4>Now Playing: </h4>";
      output += "<h3>" + json.icestats.source.title + "</h3>";
      output += "<p style='font-size:14px;'>" + json.icestats.source.listeners + " peers are listening<br />";
      document.getElementById("radioPlaceholder").innerHTML = output;
    });
  }
  setInterval(getData, 7000);

  $(function () {
    getData();
  });
</script>
<!-- Banner -->


<div id="trackArt">
  <section>
    <div class="coverartwrapper">
      <div class="coverartwrapped" id="coverart" style="background-image: url({{ page.image }});"></div>
    </div>
    <div class="playbutton hideWhenNoJS">
      <a id="mu_pause" class="button">🎶 Play!</a>
    </div>

  </section>
</div>
<!-- Content -->
<div id="trackInfo">
  <section>
    <h1>{{ page.title }}</h1>
    <h2 style="text-align: left;">{{ page.description }} </h2>
    <p>To enjoy the stream in your favorite player <a target="_blank" rel="noopener noreferrer"
      href='https://radio.basspistol.com/radio.mp3.m3u'>click here</a></p>

    

    <p class="noJSalbum"><a class="button" target="_blank" rel="noopener"
        href="https://radio.basspistol.com/radio.mp3"><span class="fas fa-play"></span> Play!</a></p>

  </section>

<section class="releases">
  <h2>Pick Your Room!</h2>
  <div class="container" style="padding:0;">
  <!-- Smokers Lounge-->
  <article>
    <figure>
      <a href="https://meet.jit.si/Basspistol-Super-Chill-Smokers-Lounge-For-Coolt-Cats" target="_balnk" rel="noopener">
        <img src="/images/pages/Logo_Jitsi.svg" alt="Enter The SMokers Lounge" /></a>
      <figcaption>
        <h3>Smoker's Lounge</h3>
        <p>Chill-out, have a little talk with your peers face-to-face. Dress up be fancy, classy and respectfull</p>
       
      </figcaption>
    </figure>
  </article>
  <!-- Hubs -->
  <article>
    <figure>
      <a href="https://hubs.mozilla.com/SWHvjBj/euphoric-gifted-meetup/" target="_balnk" rel="noopener">
        <img src="/images/pages/hubs.jpg" alt="Enter the Glance Floor" /></a>
      <figcaption>
        <h3>Glance Floor</h3>
        <p>This is where the action is at! Take a spin on the dancefloor, enjoy the company of others, have a chat. Draw your tag on stuff! Place your drink on the DJ booth. Do everything you would in a nightclub plus some more!</p>
      </figcaption>
    </figure>
  </article>
  <!-- Leet -->
  <article>
    <figure>
      <a href="/chat/#read" target="_balnk" rel="noopener">
        <img src="/images/pages/irc_chat_logo.png" alt="Cover art for {{ post.title }}" /></a>
      <figcaption>
        <h3>Leet's lair</h3>
        <p>Not so much for VR or showing your face on cam? This room is for you, Fren. Join a text-chat and do all of the things one can do in the other rooms. But do it the 1337 way!</p>
       

      </figcaption>
    </figure>
  </article>


</div>
</section>
<section>
  <div id="radioPlaceholder"></div>
    
  {% include author.html %}
</section>
  {% include footer.html %}
  <!-- End Post Navigation -->
</div>

<!-- Audio player-->

<div id="fixedPlayer" class="showplayer hideplayer">
  <div id="audiowrap">
    <div id="audio0">
      <audio controls autoplay preload="none" data-matomo-title="Basspistol Radio">
        <source src="https://radio.basspistol.com/radio.mp3" type="audio/mpeg" />
        <h1>Your browser isn't ready for so much hotness. Use the download-link instead.</h1>.
      </audio>
    </div>
  </div>
  <div id="nowPlay">

  </div>
</div>

<script type="text/javascript">

  function loadUrl(newLocation) {
    window.location = newLocation;
    return false;
  }

  var mu = document.getElementsByTagName("audio")[0];
  var pauseButton = document.getElementById("mu_pause");
  var spincover = document.getElementById("coverart");
  var fixedplayer = document.getElementById("fixedPlayer");

  mu.addEventListener('ended', function () {
    // only functional if "loop" is removed
    mu.pause();
    mu.currentTime = 0;
    loadUrl("{{ relBase }}{{ page.next.url }}"); return false;
  });
  mu.onplaying = function () {
    pauseButton.innerHTML = "⏯️ Pause";
    fixedplayer.classList.remove("hideplayer");
  };

  pauseButton.addEventListener("click", function () {
    if (mu.paused) {
      mu.play();
    }
    else {
      mu.pause();
    }
  });

  mu.addEventListener('playing', function () {
    spincover.classList.add("spinnit");
    spincover.classList.remove("paused");
  });
  mu.addEventListener('pause', function () {
    spincover.classList.add("paused");
    pauseButton.innerHTML = "⏯️ Resume";
  });

</script>