    <div id="headline"><h1>~/hi-light</h1></div>
    <a href="{{ page.link }}?ref=TheOuternationalMusicSyndicateWasHere" target="_blank" rel="noopener"><div id="linkhead" style="background-image:url('{{ page.track.coverart }}');background-size:cover;background-position:center;"></div></a>
    <a href="{{ page.link }}?ref=TheOuternationalMusicSyndicateWasHere" target="_blank" rel="noopener"><div id="linkheadthumb" style="background-image:url('{{ page.track.coverart }}');background-size:cover;background-position:center;"></div></a>
