<!-- 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
|..............................................                                                    |
|..............................................   ▄▄▄▄    ▄▄▄        ██████   ██████               |
|...........'';,...............................  ▓█████▄ ▒████▄    ▒██    ▒ ▒██    ▒               |
|.........'',,;:o:,............................  ▒██▒ ▄██▒██  ▀█▄  ░ ▓██▄   ░ ▓██▄                 |
|.......',;;::::::;;;,.........................  ▒██░█▀  ░██▄▄▄▄██   ▒   ██▒  ▒   ██▒              |
|.....,;:ooooooooooo;,,''''....................  ░▓█  ▀█▓ ▓█   ▓██▒▒██████▒▒▒██████▒▒              |
|....,;ooooooooooooooo;,'..'''''...............  ░▒▓███▀▒ ▒▒   ▓▒█░▒ ▒▓▒ ▒ ░▒ ▒▓▒ ▒ ░              |
|...,:ooooooooooooooooo;''......'''............  ▒░▒   ░   ▒   ▒▒ ░░ ░▒  ░ ░░ ░▒  ░ ░              |
|..,;:ooooooooooooooooo',,.........,'..........   ░    ░   ░   ▒   ░  ░  ░  ░  ░  ░                |
|..,,;:,ooooo;;:ooo;o,:;,',.........;,''.......   ░            ░  ░      ░        ░                |
|..,'..,,;:o,''.,;;'''..'';,,,,,,''',;'''......        ░                                           |
|..,'......':ooo:.......'';,'''''''',;,,,......   ██▓███   ██▓  ██████ ▄▄▄█████▓ ▒█████   ██▓      |
|..,,.......,:o:'.......,'oooo:::::;:,.',;,....  ▓██░  ██▒▓██▒▒██    ▒ ▓  ██▒ ▓▒▒██▒  ██▒▓██▒      |
|..','.................',,..'',,,;;;;;;,.,:....  ▓██░ ██▓▒▒██▒░ ▓██▄   ▒ ▓██░ ▒░▒██░  ██▒▒██░      |
|...,,'...............',;oooooooooo:;;:,;oo,...  ▒██▄█▓▒ ▒░██░  ▒   ██▒░ ▓██▓ ░ ▒██   ██░▒██░      |
|....,,'.............,,;ooooooooo;,..'',oooo,..  ▒██▒ ░  ░░██░▒██████▒▒  ▒██▒ ░ ░ ████▓▒░░██████▒  |
|.....',,'........',,;ooo::;;,'........'oooo;..  ▒▓▒░ ░  ░░▓  ▒ ▒▓▒ ▒ ░  ▒ ░░   ░ ▒░▒░▒░ ░ ▒░▓  ░  |
|.......'',,'''',,;;;,,'...............';;;'...  ░▒ ░      ▒ ░░ ░▒  ░ ░    ░      ░ ▒ ▒░ ░ ░ ▒  ░  |
|...........'''''..............................  ░░        ▒ ░░  ░  ░    ░      ░ ░ ░ ▒    ░ ░     |
|..............................................            ░        ░               ░ ░      ░  ░  |
|..............................................                                                    |
|..............................................  All you saw was sound!                            |
|..............................................                                                    |
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

-->