  <div id="navigation">
    <ul>

      <li class="icofont">
        <a href="{{ base }}/" title="Home" class="icofont-home"></a>
      </li>

      <li class="icofont">
        <a href="{{ base }}/discography/" title="Discography" class="icofont-disc"></a>
      </li>

      <li class="icofont">
        <a href="{{ base }}/radio/" title="Radio" class="icofont-radio"></a>
      </li>

      <li class="icofont">
        <a href="{{ base }}/highlights/" title="Highlights" class="icofont-newspaper current"></a>
      </li>

      <li class="icofont">
        <a href="{{ base }}/artists/" title="Artists" class="icofont-people"></a>
      </li>

      <li class="icofont">
        <a href="{{ base }}/about/" title="About" class="icofont-finger-print"></a>
      </li>

      <li class="icofont">
        <a href="{{ base }}/links/" title="Links" class="icofont-link"></a>
      </li>

      <li class="icofont">
        <a href="https://shop.basspistol.com" class="iconfont-shop" rel="noopener noreferrer nofollow"></a>
      </li>
    </ul>
  </div>


