<!-- Scripts -->
{% include relBase.html %}
<script src="{{ relBase }}/assets/js/jquery.min.js"></script>
<script src="{{ relBase }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ relBase }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ relBase }}/assets/js/browser.min.js"></script>
<script src="{{ relBase }}/assets/js/breakpoints.min.js"></script>
<script src="{{ relBase }}/assets/js/util.js"></script>
<script src="{{ relBase }}/assets/js/main.js"></script>
<script src="{{ relBase }}/assets/js/set.js"></script>
