<section class="streambox" style="padding: 40px;">
{% if page.collection == 'posts' %}
  {% if page.category == 'release' %}
  {% if page.stores[0].name != nil %}

  <h3 style="text-align: center;display: block;">Buy this release</h3>
  <div class="streamer">
    {% for shop in page.stores %}
    {% if shop.download == true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  
  <h3 style="text-align: center;display: block;margin-top:40px;">&nbsp;</h3>
  <div class="streamer">
  
    {% for shop in page.stores %}
    {% if shop.download != true %}
    
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " " }}']);" style="flex: 0 0 75px;margin:10px; font-size: 75px;" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="icon style2 brands {{ shop.icon }}"><span class="label">{{ shop.name }}</span></a>
    {% endif %}
    {% endfor %}
  </div>

  {% else %}

  <h3 style="text-align: center;display: block;">This release can't be bought</h3>
  <p>But you can find others here:</p>
  <div class="streamer">
    {% for shop in site.data.stores %}
    {% if shop.download == true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <h3 style="text-align: center;display: block;">&nbsp;</h3>

  <div class="streamer">
    {% for shop in site.data.stores %}
    {% if shop.download != true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% endif %}
  
{% elsif page.collection == 'tracks' %}

  {% for post in site.posts %}
  {% if post.album == page.albumSlug %}
  {% if post.stores[0].name != nil %}

  <h3 style="text-align: center;display: block;">Buy this Track</h3>
  <div class="streamer">
    {% for shop in post.stores %}
    {% if shop.download == true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>

  <h3 style="text-align: center;display: block;margin-top:40px;">&nbsp;</h3>
  <div class="streamer">

    {% for shop in post.stores %}
    {% if shop.download != true %}
    
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " " }}']);" style="flex: 0 0 75px;margin:10px; font-size: 75px;" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="icon style2 brands {{ shop.icon }}"><span class="label">{{ shop.name }}</span></a>
    {% endif %}
    {% endfor %}
  </div>



  {% endif %}
  {% else %}

  <h3 style="text-align: center;display: block;">This track can't be bought</h3>
  <p>But you can find others here:</p>
  <div class="streamer">
    {% for shop in site.data.stores %}
    {% if shop.download == true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <h3 style="text-align: center;display: block;">&nbsp;</h3>

  <div class="streamer">
    {% for shop in site.data.stores %}
    {% if shop.download != true %}
    <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}{% break %}
  {% endfor %}

{% elsif page.collection == 'albums' %}


{% for post in site.posts %}
{% if post.album == page.slug %}
{% if post.stores[0].name != nil %}

<h3 style="text-align: center;display: block;">Buy this album</h3>
<div class="streamer">
  {% for shop in post.stores %}
  {% if shop.download == true %}
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
  {% endif %}
  {% endfor %}
</div>

<h3 style="text-align: center;display: block;margin-top:40px;">&nbsp;</h3>
<div class="streamer">

  {% for shop in post.stores %}
  {% if shop.download != true %}
  
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " " }}']);" style="flex: 0 0 75px;margin:10px; font-size: 75px;" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="icon style2 brands {{ shop.icon }}"><span class="label">{{ shop.name }}</span></a>
  {% endif %}
  {% endfor %}
</div>



{% endif %}
{% else %}

<h3 style="text-align: center;display: block;">This album can't be bought</h3>
<p>But you can find others here:</p>
<div class="streamer">
  {% for shop in site.data.stores %}
  {% if shop.download == true %}
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
  {% endif %}
  {% endfor %}
</div>
<h3 style="text-align: center;display: block;">&nbsp;</h3>

<div class="streamer">
  {% for shop in site.data.stores %}
  {% if shop.download != true %}
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
  {% endif %}
  {% endfor %}
</div>
{% endif %}{% break %}
{% endfor %}
{% else %}
<h3 style="text-align: center;display: block;">Support {{ site.name }}</h3>
<p>Pay for music here:</p>
<div class="streamer">
  {% for shop in site.data.stores %}
  {% if shop.download == true %}
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
  {% endif %}
  {% endfor %}
</div>
<h3 style="text-align: center;display: block;">&nbsp;</h3>

<div class="streamer">
  {% for shop in site.data.stores %}
  {% if shop.download != true %}
  <a onclick="_paq.push(['trackEvent', 'StoreLink', '{{ shop.name | remove: " "  }}']);" target="_blank" rel="noopener" href="{{ shop.url }}" alt="Stream from {{ shop.name }}" title="Stream from {{ shop.name }}" class="button icon brands {{ shop.icon }}">{{ shop.name }}</a>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
</section>