---
title: About The Syndicate
subtitle: About
description: 'The Basspistol DNA'
video: intro_loop_.mp4
poster: intro_loop_.png
thumb: intro_loop_.png
---
<!DOCTYPE html>
<html>
<head>
{% include metahead.html %}
</head>
<body>
{% include navmenu.html %}
  <div id="content">
{% include videopageheader.html %}
    <div class="fitter">
{% for post in site.categories.blog offset: 0 limit: 15 %}
        <div class="articles">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
        </div>
{% endfor %}
    </div>
    <div class="fitter">
      <div class="articles">
        <p>Interested in becoming a memeber?</p>
        <h2 style="float: none"><a style="text-decoration:none;" href="https://github.com/Basspistol/Music-Syndicate/blob/master/membership_contract.txt" target="_blank" rel="noopener noreferrer">Basspistol Contract</a></h2>
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
</html>
