---
---
<!DOCTYPE html>
<html>
<head>
{% include relBase.html %}
{% include metahead.html %}
{% include matomo.html %}
</head>
<body>
{% include navmenu.html %}
  <div id="content">
    <div id="headline"><h1>~/hi-light</h1></div>
    <a href="{{ page.link }}?ref=TheOuternationalMusicSyndicateWasHere" target="_blank" rel="noopener noreferrer"><div id="linkhead" style="background-image:url('{{ relBase }}{{ page.image }}');background-size:cover;background-position:center;opacity:0.75;"></div></a>
    <a href="{{ page.link }}?ref=TheOuternationalMusicSyndicateWasHere" target="_blank" rel="noopener noreferrer"><div id="linkheadthumb" style="background-image:url('{{ relBase }}{{ page.image }}');background-size:cover;background-position:center;opacity:0.75;"></div></a>
    <div class="fitter">
      <div class="articles-pargraph">
        <h1>{{ page.title }}</h1>
        <p><strong>{{ page.date | date: "%a, %b %d, %Y" }}</strong></p>
        {{ content }}
{% include author.html %}
      </div>

{% include highlight_pagination.html %}
{% include footer.html %}
    </div>

  </div>
</body>
</html>