<!DOCTYPE html>
<html>
<head>
{% include metahead.html %}
{% include matomo.html %}
</head>
<body>
{% include navmenu.html %}
  <div id="content">
{% include videopageheader.html %}
    <div class="fitter">
{% for page in site.categories.highlights offset: 0 limit: 15 %}
      <div class="records">
        <a href="{{ site.baseurl }}{{ page.url }}">
          <img class="recordthumbs" src="{{ site.baseurl }}{{ page.coverart.art }}" title="{{ page.title }}" alt="{{ page.title }}" />
        </a>
      </div>
{% endfor %}  
</div>
{% include footer.html %}
    </div>

</body>
</html>