---
---
<!DOCTYPE html>
<html>
<head>
    {% include releasemeta.html %}
  <script src="{{ base }}/assets/js/timeJump.js"></script>
  <link rel="stylesheet" href="{{ base }}/assets/css/style.css" />
</head>
<body>
{% include navmenu.html %}
<div id="content">

  <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline muted>
    <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
    <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
  </video>
  <button>Play</button>
<div class="fitter">
	<h1>{{ page.title }}</h1>
	<h2>By {% assign artists = site.artists[page.artist] %}{{ artists.display_name }}</h2>
	<p class="quote">{{ page.description }}</p>
	{{ content }}
	<p>TRACKLIST</p>
{% for player_id in page.player_id %}
{% assign players = page.player[player_id] %}  <p><a href="#t={{ players.startpoint }}">&rarr; {{ players.title }}</a></p>
{% endfor %}
  <p class="credits">{{ page.credits }}</p>
{% assign artists = site.artists[page.artist] %}
  <a href="{{ page.download }}"><img src="/assets/coverart/{{ page.ref }}/flac.png" style="float:left" />
  <h2>Download TORRENT</h2></a>
  <p class="warning">Please support our artists using any or all of these options:
  <br />- Donate to the <a href="mailto:{{ artists.email }}">Author!</a> Ask him/her/them how
  <br />- Subscribe to our mailing list on info@basspistol.com
  <br />- Write a blogg post about this release and send the link to info@basspistol.com</p>
{% include footer.html %}
</div>
</div>

  <script type="text/javascript">
  var vid = document.getElementById("bgvid");
  var pauseButton = document.querySelector("button");
  if (window.matchMedia('(prefers-reduced-motion)').matches) {
    vid.removeAttribute("autoplay");
    vid.pause();
    pauseButton.innerHTML = "Paused";
  }
  function vidFade() {
    vid.classList.add("stopfade");
  }
  vid.addEventListener('ended', function()
  {
  // only functional if "loop" is removed
  vid.pause();
  // to capture IE10
  vidFade();
  });
  pauseButton.addEventListener("click", function() {
    vid.classList.toggle("stopfade");
    if (vid.paused) {
      vid.play();
      pauseButton.innerHTML = "Pause";
    } else {
      vid.pause();
      pauseButton.innerHTML = "Paused";
    }
  })
  </script>
</body>
</html>
